{% extends '../base.html' %} {% load static %} {% block content %}

<section class="home">
  <div class="container">
    <h1 class="home-title">Вещи</h1>
    <p class="home-desc">
      Привнесите нотку элегантности и удобства в свой гардероб с нашей эксклюзивной коллекцией одежды! Независимо от того, ищете ли вы повседневный наряд для работы, стильный аутфит для вечеринки или уютные вещи для дома, у нас есть все, что нужно.
    </p>
    <a href="{% url 'news_page' %}" class="btn">Последние новинки</a>
  </div>
</section>

<section class="room">
  <div class="container">
    <h2 class="room-title">Sales</h2>
    <div class="room-row">
      {% if latest_news %} {% for i in latest_news %}
      <div class="card">
        <div class="img">
          <img src="{{ i.image }}" alt="icon" />
        </div>
        <h1 class="head">{{ i.title }}</h1>
        <div class="card-details">
          <!-- <p class="news-date">{{ i.created_at }}</p> -->
          <p class="news-date">{{ i.price }} тг </p>
          <a href="{% url 'news_detail_page' i.pk %}" class="btn_news">Подробнее</a>
        </div>
      </div>
      {% endfor %} {% else %} Статьи не найдены {% endif %}
    </div>
  </div>
</section>

{% endblock %}
